/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Set every element's box-sizing to border-box */

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
}

.container {
    width: 88rem;
    /* TB LR */
    margin: 0 auto;
}


/* header */

header nav {
    display: inline-block;
    width: 69rem;
    vertical-align: top;
    margin-top: 3.5rem;
}

header nav a {
    margin-right: 6.5rem;
    font-size: 1.4rem;
    color: gray;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

header nav a:first-child {
    margin-left: 0;
}

header nav a:last-child {
    margin-right: 0;
}

header .logo {
    margin-top: 2.5rem;
}


/* cta */

.cta .cta-text {
    display: inline-block;
    vertical-align: top;
    font-size: 7.7rem;
    margin-top: 12rem;
    text-align: center;
    padding: 0px 7.5rem;
}

.cta .cta-text button {
    background: white;
    vertical-align: top;
    margin-top: 6px;
    padding: 0.8rem 4.4rem;
    font-size: 1.7rem;
    border: 1px solid black;
    cursor: pointer;
}

.cta .cta-text button:hover {
    background: black;
    color: white;
}

.cta img {
    display: inline-block;
    margin-top: 6.9rem;
}

.main-content {
    border-top: 1px solid black;
    margin-top: 7.6rem;
    padding-top: 3.9rem;
}

.main-content .top-content {
    padding: 0 1rem;
}

.main-content .top-content .text-content {
    width: 41rem;
    display: inline-block;
    margin-right: 3.4rem;
}

.main-content .top-content .text-content:last-child {
    margin-right: 0;
}

.main-content .middle-img {
    margin-top: 4.5rem;
}

.main-content .bottom-content {
    margin-top: 3.7rem;
    padding: 0 1rem;
}

.main-content .bottom-content .text-content {
    width: 27.5rem;
    display: inline-block;
    margin-right: 1.2rem;
}

.main-content .bottom-content .text-content:last-child {
    margin-right: 0;
}

.contact {
    margin-top: 5.7rem;
    border-top: 1px solid black;
    padding: 3.9rem 1rem 0;
}

.contact p {
    margin: 2rem 0;
}

footer {
    margin: 3.2rem 0;
    text-align: center;
    font-size: 1.4rem;
}


/*mobile*/
@media (max-width:500px) {
    header nav {
        width: 100%;
        margin: 35px;
        flex-direction: column;
        align-items: center;
    }
    header nav a {
        margin: 0 auto;
        border-bottom: 1px solid black;
        width: 100%;
        text-align: center;
        line-height: 2.5;
        font-size: 20px;
    }
    h4 {
        font-size: 18px
    }
    .cta .cta-text {
        font-size: 44px;
        padding: 0px;
    }
    .cta .cta-text button {
        font-size: 14px;
        width: 111px;
        padding: 5px 10px;
    }
    .main-content {
        justify-content: center;
        border-top: 1px solid black;
        margin-top: 10%;
        padding-top: 5%;
    }
    .main-content .top-content,
    .main-content .bottom-content {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 100%;
        margin: 0px;
    }
    .main-content .top-content .text-content,
    .main-content .bottom-content .text-content {
        width: 100%;
        margin: 5% auto;
    }
    .contact {
        margin-top: 0px;
        border-top: 1px solid black;
        padding: 30px 10px 0;
    }
}
/* end @media(>500px)[mobile] */